<!--
 * @Date: 2021-08-24 15:38:06
 * @LastEditors: CHEN SHENGWEI
 * @LastEditTime: 2021-09-08 14:58:11
 * @FilePath: \note\src\main\resources\templates\editNote.html
-->
<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>ノート作成</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="css/layx.min.css" rel="stylesheet" type="text/css" />
    <link href="css/createNote.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>ノート作成</h2>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">科目</label>
            <select class="form-control" id="subjectsList">
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">ステータス区分</label>
            <select class="form-control" id="status">
                <option>公開</option>
                <option>私有</option>
            </select>
        </div>
        <div class="form-group">
            <label>タイトル</label>
            <input type="text" class="form-control"  id="title">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">内容</label>
            <textarea class="form-control" rows="3" id="content"></textarea>
        </div>
        <button type="button" class="btn btn-default btn-lg btn-block"  onclick="reset()">リセット</button>
        <button type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled" id="confirm" onclick="editNote()">確認</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script src="/libs/Layx/layx.min.js"></script>
    <script src="/js/editNote.js"></script>
    <script src="/js/errorCode.js"></script>
</body>

</html>