<!--
 * @Date: 2021-08-19 13:24:09
 * @LastEditors: CHEN SHENGWEI
 * @LastEditTime: 2021-10-14 14:05:08
 * @FilePath: \stzb\src\main\resources\templates\include.html
-->
<header th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/css/include.css" rel="stylesheet" type="text/css" />

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand" href="#"><img src="/img/lanbitou_logo_small.png" alt="loading"></div>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"> <span class="nickName"></span><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="disabled"><a href="#">レベル<span id="level" style="float: right;"></span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar"
                                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                                id="level-progress">
                                                %
                                            </div>
                                        </div>
                                    </a> </li>
                                <li><a href="#">消息</a></li>
                                <li><a href="#">收藏</a></li>
                                <li><a href="#">歴史</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" onclick="loginOut()">登出</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入同盟ID或同盟名">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="jumbotron">
                <div class="row">
                    <div class="user_view">
                        <div class="view_switch">
                        </div>
                        <div class="user_message">
                            <div class="col-md-1">
                                <div class="um_photo">
                                    <img class="profilephoto" src="" alt="loading">
                                    <a id="changeProfilePhoto">更换头像</a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="um_right">
                                    <div class="umr_name">
                                        <span id="nickName" class="nickName"></span>
                                    </div>
                                    <div class="umr_word">
                                        <input type="text" placeholder="编辑个性签名" id="signature">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"><a href=""><img src="img/homepage.png" alt="">主页</a></div>
                <div class="col-md-1"><a href=""><img src="img/dynamic.png" alt="">消息<span
                            id="allMessageCount"></span></a></div>
                <div class="col-md-1"><a href="#"><img src="img/contribute.png" alt="">笔记<span
                            id="allNoteCount"></span></a></div>
                <div class="col-md-1"><a href="#"><img src="img/channel.png" alt="">科目<span
                            id="allSubjectsCount"></span></a></div>
                <div class="col-md-1"><a href=""><img src="img/collection.png" alt="">标星<span
                            id="allStarCount"></span></a></div>
                <div class="col-md-1"><a href=""><img src="img/subscribe.png" alt="">关注<span
                            id="allStarredCount"></span></a></div>
                <div class="col-md-1"><a href=""><img src="img/SetUp.png" alt="">设定</a></div>         
            </div>
        </nav>
    </body>
    </head>