<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>登录</title>
	<link rel="stylesheet" href="/libs/particles/css/style.css">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<!-- particles.js container -->
	<div id="particles-js"></div>
	<div id="wrapper">
		<div>
			<img src="/img/lanbitou_logo.png" />
			<h2>韶华考勤，让滑水怪无处可藏</h2>
		</div>
		<nav class="switch_nav">
			<a href="register" id="switch_signup" class="switch_btn">注册</a>
			<a href="javascript:;" id="switch_login" class="switch_btn on">登录</a>
			<div class="switch_bottom" id="switch_bottom"></div>
		</nav>
		<div id="login">
			<form method="post" th:action="@{/login}">
				<ul class="group_input">
					<li>
						<input type="text" class="mobile required" id="email" placeholder="邮箱" name="email" />
					</li>
					<li>
						<input type="password" class="psd required" id="psd" placeholder="密码" name="userPassword" />
					</li>
				</ul>
				<span class="result" th:text="${loginErrorMsg}" style="color: red;height: 25px;line-height: 40px;
			font-size: 15px;"></span>
				<button type="submit" class="submit_btn" id="btnSubmit">登录</button>
			</form>
			<div class="states">
				<span class="left"><a href="javascript:;">手机验证码登陆</a></span>
				<span class="right"><a href="javascript:;">无法登陆？</a></span>
			</div>
			<div class="states">
				<a href="javascript:;" class="social_account">社交账号登陆</a>
				<div class="states three_MinIcon">
					<a href="javascript:;" class="MinIcon_weixin"><img src="/img/icon_weixin.jpg"
							style="width:20px;height:18px" /></a>
					<a href="javascript:;" class="MinIcon_weibo"><img src="/img/icon_weibo.jpg"
							style="width:20px;height:18px" /></a>
					<a href="javascript:;" class="MinIcon_qq"><img src="/img/icon_qq.jpg"
							style="width:20px;height:18px" /></a>
				</div>
			</div>
		</div>
		<div class="QRcode_btn">
			<div type="submit" class="submit_btn download_btn">请皮卡丘喝奶茶</div>
			<div class="QRcode">
				<img src="/img/QRcode.png" alt="QRcode" />
				<div class="box"></div>
			</div>

		</div>
		<div id="footer">
			<span>&copy;2017韶华</span><span>·</span><a href="javascript:;">圆桌</a><span>·</span><a
				href="javascript:;">发现</a><span>·</span><a href="javascript:;">移动应用</a><span>·</span><a
				href="javascript:;">使用机构账号登录</a><span>·</span><a href="javascript:;">联系我们</a><span>·</span><a
				href="javascript:;">加入韶华</a><br />
			<span>·</span><a
				href="javascript:;">京ICP证110745号</a><span>·</span><span>京公网安备xxxxxxxxxx号</span><span>·</span><a
				href="javascript:;">出版物经营许可证</a>
		</div>
	</div>
	<script src="/libs/jquery-1.12.4/jquery.min.js"></script>
	<script src="/libs/particles/particles.min.js"></script>
	<script src="/libs/particles/js/app.js"></script>
	<script>
		$(function () {
			$("#email").val(sessionStorage.getItem("email"));
			$("#psd").val(sessionStorage.getItem("loginPsd"));
			//为表单元素添加失去焦点事件
			$("form :input").blur(function () {
				$(".result").empty();
				var $parent = $(this).parent();
				$parent.find(".msg").remove(); //删除以前的提醒元素（find()：查找匹配元素集中元素的所有匹配元素）	
				//邮箱验证
				if ($(this).is("#email")) {
					var email = $.trim(this.value);
					if (!checkEmail(email)) {
						var errorMsg = " 请输入正确的邮箱格式！";
						$parent.append("<span class='msg onError'>" + errorMsg + "</span>");
					} else {
						var okMsg = " 输入正确";
						$parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
					}
				}
				//验证密码
				if ($(this).is("#psd")) {
					var psdVal = $.trim(this.value);
					var regPsd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/;
					if (psdVal == "" || !regPsd.test(psdVal)) {
						var errorMsg = " 密码为6-20位字母、数字的组合！";
						$parent.append("<span class='msg onError'>" + errorMsg + "</span>");
					}
					else {
						var okMsg = " 输入正确";
						$parent.append("<span class='msg onSuccess'>" + okMsg + "</span>");
					}
				}
			}).keyup(function () {
				//triggerHandler 防止事件执行完后，浏览器自动为标签获得焦点
				$(this).triggerHandler("blur");
			}).focus(function () {
				$(this).triggerHandler("blur");
			});

		})
		function checkEmail(str) {
			var reg = /^[0-9a-zA-Z_.-]+[@][0-9a-zA-Z_.-]+([.][a-zA-Z]+){1,2}$/; //正则表达式
			if (str === "") { //输入不能为空
				return false;
			} else if (!reg.test(str)) { //正则验证不通过，格式不对
				return false;
			} else {
				return true;
			}
		}
		//点击重置按钮时，通过trigger()来触发文本框的失去焦点事件
		$("#btnSubmit").click(function () {
			sessionStorage.setItem("email", $("#email").val());
			sessionStorage.setItem("loginPsd", $("#psd").val());
			//trigger 事件执行完后，浏览器会为submit按钮获得焦点
			$("form .required:input").trigger("blur");
			var numError = $("form .onError").length;
			if (numError) {
				return false;
			}
		});
		$(".download_btn").click(function () {
			if ($(".QRcode").css("display") == "none") {
				$(".QRcode").show();
				$(".download_btn").text("关闭二维码");
			} else {
				$(".QRcode").hide();
				$(".download_btn").text("请皮卡丘喝奶茶");
			}
		});
	</script>
</body>

</html>